/*  -> helper/helper */
@import url('../config/veriables.less');

.size(@width:20px; @height:20px) {
    width: @width;
    height: @height;
  }
  .square(@size) {
    .size(@size; @size);
  }

  .opacity(@opacity) {
    opacity: @opacity;
    // IE8
    @opacity-ie: (@opacity * 100);
    filter: ~"alpha(opacity=@{opacity-ie})";
  }

  .clear() {
    &:before,
    &:after {
      content: "";
      display: table;
    }
    &:after {
      clear: both;
    }
  }

  .box-sizing(@model:border-box) {
    box-sizing: @model;
  }

  .b-shadow(@shadow) {
    -webkit-box-shadow: @shadow;
    box-shadow: @shadow;
  }

  .b-radius(@radius) {
    border-radius: @radius;
  }

  .keyframes(@name; @arg) {
    @keyframes @name { @arg(); }
    @-webkit-keyframes @name { @arg(); }
  }

  .animation(@arg) {
    -webkit-animation: @arg;
    animation: @arg;
  }

  .transform(@type){
    -webkit-transform: @type;
    -moz-transform: @type;
    transform: @type;
  }

  .font-F(@font:"Open Sans"){
    font-family:@font,sans-serif;
  }

  .gradient(@position:top, @color1, @color2){
    background: linear-gradient(to @position, @color1 30%, @color2 100%);
    background: -webkit-linear-gradient(to @position, @color1 30%, @color2 100%);
  }

  .lSpace(@val:1px){
    letter-spacing: @val;
  }

  @from : 0;
  @to : 100;

  .loop(@index) when(@index =< @to) {
    .mt-@{index} {
      margin-top: unit(@index, px)!important;
    }
    .mb-@{index} {
      margin-bottom: unit(@index, px)!important;
    }
    .mr-@{index} {
      margin-right: unit(@index, px)!important;
    }
    .ml-@{index} {
      margin-left: unit(@index, px)!important;
    }
    .loop(@index + 10);
  }
  .loop(@from);
  .p-10{padding:10px;}
  .p-15{padding:15px;}
  .p-20{padding:20px;}
  .d-none{display:none;}
  .minh-auto{min-height: auto!important}
  .maxw-none{max-width: none!important}
  .fL{
    float:left!important
  }
  .fR{
    float:right!important;
  }
  .fN{
    float:none!important;
  }
  .nP{
    padding:0!important;
  }
  .nPR{
    padding-right:0!important
  }
  .nPL{
    padding-left:0!important
  }
  .text-L{
    text-align: left;
  }
  .text-R{
    text-align: right;
  }
  .text-C{
    text-align: center;
  }
  .text-J{
    text-align: justify;
  }
  .img-responsive{
    width:100%;height:auto;
  }
  // update 24.02.2017
  .f-awesome(@code){
    content:"\@{code}";
    font-family: "FontAwesome";
  }
  // update 12.04.2017
  .text-grad(@position, @color1, @color2, @par1:text, @par2:transparent ){
    background: -webkit-linear-gradient(@position, @color1, @color2);
    -webkit-background-clip: @par1;
    -webkit-text-fill-color: @par2;
  }

.mq-xs(@content) {
  @media (max-width:@mq-xsmall){
    @content();
  }
}
.mq-sm(@content) {
  @media (max-width:@mq-small){
    @content();
  }
}
.mq-md(@content) {
  @media (max-width:@mq-medium){
    @content();
  }
}
.mq-lg(@content) {
  @media (max-width:@mq-large){
    @content();
  }
}

// update 10.01.2018
.parallax(@image, @position:center){
  background-image: url('@{image}');
  background-attachment: fixed;
  background-position: @position;
  background-repeat: no-repeat;
  background-size: cover;
}



