footer{
    border-top:1px solid #eee;
    padding: 15px 0;
    font-size:13px;
    span{color:@color3;}
    .social{
        display: flex;
        justify-content: flex-end;
        a{
            color:rgb(170, 170, 170);
            margin-left:10px;
            margin-right:10px;
            &:hover{color:@color1;}
        }
    }
}