/*  -> inc/global */

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,400i,500,700,800&subset=latin-ext');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: "Montserrat", sans-serif;
}
body{
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    background-color: #fff;
}
a{
    text-decoration: none!important;
}
p{
    margin:0;
}
ul{margin:0; padding:0; li{list-style: none;}}
h1,h2,h3,h4,h5,h6{margin:0;}
figure{margin:0;}