.featured-post{
    margin-top: 60px;
    background-color: #fff;
    box-shadow: inset 0 -20px 30px fade(black,5%), inset 0 20px 30px fade(black,5%);
    padding:50px 0;
    .post-item{
        position: relative; 
        max-height: 360px;
        overflow: hidden; 
        &:hover{
            &::after{
                // background-color: fade(darken(@color1,30%),50%);
                .gradient(top,darken(@color1,10%),darken(#000,5%));
                opacity: .6;
                transition:all 300ms;
            }
        }
        &::after{
            content:"";
            position: absolute;
            top:0; left:0;
            width: 100%;
            height: 100%;
            background-color: fade(black,60%);
            transition:all 300ms;
        }
        .content{
            position: absolute;
            top:50%;
            transform:translateY(-50%);
            margin:0 30px;
            text-align: center;
            z-index:9000;
            h2{
                a{
                    color:#fff;
                    font-size:24px;
                    font-weight: 800;
                    text-shadow: 0 5px 10px fade(black,20%);
                    letter-spacing: -1px;
                }
            }
            .info{
                margin-top:10px;
                span{
                    color:#fff;
                    font-size:13px;
                    font-weight: 500;
                    &::after{
                        content:"-";
                        margin-left:10px;
                        margin-right:10px;
                    }
                    &:last-child{
                        &::after{
                            content:"";
                            margin-right: 0;
                        }
                    }
                }
            }
            a.post-view{
                position: relative;
                display: inline-block;
                color:#fff;
                font-size:11px;
                font-weight: 700;
                margin-top: 15px;
                letter-spacing:3px;
                transition:all 500ms;
                &::after{
                    opacity: 0;
                    position: absolute;
                    top:1px; left:-20px;
                    .f-awesome(f178);
                    font-size:11px;
                    transition:all 500ms;
                }
                &:hover{
                    letter-spacing: 5px;
                    &::after{
                        opacity: 1;
                        left:calc(~"100% + 5px");
                    }
                }
            }
        }
    }
}

a.category{
    color:#fff;
    display:inline-block;
    padding:6px 15px;
    background-color: @color1;
    font-size:10px;
    font-weight: 700;
    border-radius: 100px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

main{
    display: flex;
    margin:100px 0;   
    h2.none-text{opacity: 0; font-size: 0;}
}

section{
    &.post{
        article{
            border:1px solid #eee;
            padding:25px;
            box-shadow:0 0 20px fade(black,1%);
            transition: all 300ms;
            margin-bottom: 30px;
            border-radius: 10px;
            &:last-child{margin-bottom: 0}
            &:hover{
                border-color:transparent;
                box-shadow:0 0 50px fade(black,8%);
            }
            .info{
                span{
                    color:@color3;
                    font-size:13px;
                    margin-left:10px;
                }
            }
            h4{
            margin:10px 0;    
            a{
                color:@color3;
                font-size:21px;
                font-weight: 700;
                &:hover{color:@color2}
            }}
            p{
                color:@color3;
                font-size:13px;
            }
            a.post-view{
                display: block;
                color:@color1;
                font-size:13px;
                border-top:1px solid #eee;
                padding-top:10px;
                margin-top: 15px;
                &:hover{color:@color2;}
            }
            figure{
                img{height: 182px; border-radius: 10px;}
            }
        }
    }
}

aside{
    .sidebar{
        margin-bottom: 50px;
        &:last-child{margin-bottom: 0}
        h3.title{
            color:@color2;
            font-size:18px;
            font-weight: 800;
            margin-bottom:25px;
        }
        .popular-post{
            .item{
                border-bottom: 1px solid #f5f5f5;
                margin-bottom:20px;
                padding-bottom: 20px;
                &:last-child{
                    margin-bottom: 0;
                    padding-bottom: 0;
                    border:0;
                }
                .clear;
                .image{
                    float:left;
                    width: 75px;
                    height: 75px;
                    border-radius: 100%;
                    overflow: hidden;
                    margin-right: 15px;
                    box-shadow:0 0 30px fade(black,5%);
                    transition:all 300ms;
                    img{width: 100%; height: 100%;}
                }
                a.title{
                    color:@color3;
                    font-size: 14px;
                    font-weight: 600;
                    &:hover{color:@color2;}
                }
                span{
                    display: block;
                    color: #666;
                    font-size: 13px;
                    margin-top: 2px;
                }
                &:hover{
                    .image{
                        box-shadow:0 0 30px fade(black,25%);
                    }
                }
            }
        }
        .category-menu{
            ul{
                li{
                    a{
                        position: relative;
                        display: block;
                        padding:15px 0;
                        color:@color2;
                        font-size:14px;
                        font-weight:500;
                        transition: all 500ms;
                        border-top:1px solid fade(#666,7%);
                        &:hover{
                            color:@color1;
                            &::after{
                                color:@color1;
                            }
                        }
                        &::after{
                            content:attr(data-content);
                            position: absolute;
                            right: 15px;
                            color:fade(black,50%);
                            font-size:13px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}