/*  -> inc/responsive */
.hide{
    @media (max-width:1200px){
      &-lg{display: none!important;}
    }
    @media (max-width:991px){
      &-md{display: none!important;}
    }
    @media (max-width:768px){
      &-sm{display: none!important;}
    }
    @media (max-width:480px){
      &-xsm{display: none!important;}
    }  
    @media (max-width:320px){
      &-xxsm{display: none!important;}
    }
  }

@media (max-width:991px){

}  
@media  (min-width:991px){
    header nav ul{display: flex!important;}
} 


@media (max-width:768px) {
   header{
       display: block;
       a.logo{
            display: block;
            margin-top:15px
       }
       nav{
            float:none;
           .clear;
           .menu-toggle{
               top:-30px;
               visibility: visible;
               opacity: 1;
           }
           ul{
               display: none;
               flex-direction: column;
               z-index: 9500;
               background-color: #fff;
               width: 100%;
               padding:10px 0;
               li{
                   margin: 0;
                   a{
                       display: block;
                       padding:5px 0;
                       &::after{display: none;}
                   }
               }
           }
       }
   }
   section.post {
        article {
            h4{a{font-size:18px}}
            figure{
                margin-top: 10px;
            }
        }
   }
   main{
       margin:50px 0;
       aside{
           margin-top: 50px;
       }
   }

}

@media (max-width:480px){  
    .search-wrapper{
        .search-content{
            form{
                input[type="text"]{
                    width:300px;
                }
            }
        }
    }
    .featured-post {
        .post-item{
            .content{
                h2{
                    line-height: 18px; a{
                    font-size:16px;
                }}
            }
        }
   }
   footer{
       text-align: center;
       .social{
           justify-content: center;
       }
   }

}
