/* -> inc/subpages */
main{
    &.detail-page{
        section{
            &.post{
                article{
                    border-color:transparent;
                    box-shadow:0 0 50px fade(black,8%);
                    figure{ margin-top:15px; margin-bottom:15px; img{height: auto}}
                    p{
                        font-size:14px;
                        line-height: 25px;
                    }
                }
                .tags{
                    border-top:1px solid #eee;
                    margin-top:20px;
                    color:@color2;
                    font-size:13px;
                    font-weight: 300;
                    span{font-weight: 500;}
                    a{
                        color:@color2;
                        &:hover{color:@color1;}
                        &::after{
                            content:",";
                        }
                        &:last-child{&::after{content:"";}}
                    }
                }
            }
        }
        h1.title{
            color: #444;
            font-size: 18px;
            font-weight: 800;
            margin-bottom: 20px;
        }
    }
}
