/*
    -------------------------------------
    Designer, Dev -> Doğukan Batal
    Date          -> 26.11.2017
    Mail          -> ben@dogukanbatal.com
    -------------------------------------
*/
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin-ext');
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace,monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
/*  -> helper/helper */
.mt-0 {
  margin-top: 0px !important;
}
.mb-0 {
  margin-bottom: 0px !important;
}
.mr-0 {
  margin-right: 0px !important;
}
.ml-0 {
  margin-left: 0px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mr-10 {
  margin-right: 10px !important;
}
.ml-10 {
  margin-left: 10px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mr-20 {
  margin-right: 20px !important;
}
.ml-20 {
  margin-left: 20px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mr-30 {
  margin-right: 30px !important;
}
.ml-30 {
  margin-left: 30px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mr-40 {
  margin-right: 40px !important;
}
.ml-40 {
  margin-left: 40px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.mr-50 {
  margin-right: 50px !important;
}
.ml-50 {
  margin-left: 50px !important;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.d-none {
  display: none;
}
.minh-auto {
  min-height: auto !important;
}
.fL {
  float: left !important;
}
.fR {
  float: right!important;
}
.fN {
  float: none!important;
}
.nP {
  padding: 0!important;
}
.nPR {
  padding-right: 0 !important;
}
.nPL {
  padding-left: 0 !important;
}
.text-L {
  text-align: left;
}
.text-R {
  text-align: right;
}
.text-C {
  text-align: center;
}
.text-J {
  text-align: justify;
}
.img-responsive {
  width: 100%;
  height: auto;
}
section.cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.col {
  margin: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}
section.cols:nth-of-type(5) .col:first-of-type {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  -ms-flex-preferred-size: 22px;
      flex-basis: 22px;
}
section.cols:nth-of-type(6) .col:nth-of-type(2) {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  -ms-flex-negative: 4;
      flex-shrink: 4;
  -ms-flex-preferred-size: 66px;
      flex-basis: 66px;
}
/*  -> helper/components */
.button {
  position: relative;
  display: table;
  color: #fff;
  padding: 10px 20px;
  z-index: 9000;
  -webkit-transition: color 300ms;
  transition: color 300ms;
}
.button::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}
.button:hover::after {
  width: 100%;
}
.btn-1 {
  background-color: #0b5ad2;
}
.btn-1::after {
  background-color: #fff;
}
.btn-1:hover {
  color: #373942;
}
form.form .form-group {
  margin-bottom: 20px;
}
form.form .form-group input[type="text"],
form.form .form-group input[type="password"],
form.form .form-group input[type="email"],
form.form .form-group input[type="date"],
form.form .form-group input[type="number"],
form.form .form-group textarea,
form.form .form-group select {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 0 10px;
  font-size: 13px;
}
form.form .form-group input[type="text"]:focus,
form.form .form-group input[type="password"]:focus,
form.form .form-group input[type="email"]:focus,
form.form .form-group input[type="date"]:focus,
form.form .form-group input[type="number"]:focus,
form.form .form-group textarea:focus,
form.form .form-group select:focus {
  outline: none;
  border-color: #0b5ad2;
  color: #0b5ad2;
}
form.form .form-group input[type="file"] {
  font-size: 13px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px 0;
}
form.form .form-group textarea {
  height: auto;
  resize: vertical;
}
form.form .form-group .checkbox {
  margin: 20px 0;
}
form.form .form-group .checkbox span {
  color: #444;
  font-size: 14px;
  margin-left: 5px;
}
form.form .form-group .checkbox .checkbox-label {
  position: relative;
  display: inline-block;
  height: 14px;
  width: 40px;
  background: #898989;
  border-radius: 100px;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
form.form .form-group .checkbox .checkbox-label:after {
  position: absolute;
  left: -2px;
  top: -3px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background: #d6d6d6;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
  content: '';
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
form.form .form-group .checkbox .checkbox-label:active:after {
  -webkit-transform: scale(1.15, 0.85);
  transform: scale(1.15, 0.85);
}
form.form .form-group .checkbox .checkbox-input {
  display: none;
}
form.form .form-group .checkbox .checkbox-input:checked ~ label {
  background: #0a50ba;
}
form.form .form-group .checkbox .checkbox-input:checked ~ label:after {
  left: 20px;
  background: #0c64ea;
}
form.form .form-group .checkbox .checkbox-input:disabled ~ label {
  background: #d6d6d6;
  pointer-events: none;
}
form.form .form-group .checkbox .checkbox-input:disabled ~ label:after {
  background: #bcbcbc;
}
form.form .form-group label {
  color: #333;
  font-size: 14px;
  font-weight: 500;
}
form.form .form-group label.mb {
  margin-bottom: 5px;
  display: block;
}
form.form .form-group input[type="submit"] {
  position: relative;
  display: inline-block;
  color: #fff;
  padding: 10px 20px;
  z-index: 9000;
  -webkit-transition: color 300ms;
  transition: color 300ms;
  font-size: 14px;
  border: 0;
  background-color: #373942;
  border: 1px solid transparent;
}
form.form .form-group input[type="submit"]:hover {
  background-color: #0b5ad2;
  cursor: pointer;
}
form.form .form-group input[type="submit"].white {
  color: #373942;
  background-color: #fff;
  border: 1px solid #dadada;
}
form.form .form-group input[type="submit"].white:hover {
  background-color: #f9f9f9;
}
form.form .icon {
  position: relative;
}
form.form .icon > input {
  padding-left: 25px!important;
}
form.form .icon:hover i.fa {
  color: #0b5ad2;
}
form.form .icon i.fa {
  position: absolute;
  bottom: 13px;
  left: 10px;
  font-size: 13px;
  color: #666;
}
.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  border-radius: 4px;
}
.alert-heading {
  color: inherit;
}
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
}
.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}
.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
ul.tab-menu {
  text-align: center;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}
ul.tab-menu li {
  list-style: none;
  display: table-cell;
  width: 1%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
ul.tab-menu li a {
  color: #555;
  display: block;
  background-color: #fff;
  padding: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
ul.tab-menu li.active a {
  color: #0b5ad2;
  border-bottom: 1px solid #0b5ad2;
}
table.table {
  width: 100%;
}
html,
body {
  overflow-x: hidden;
}
body {
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a {
  text-decoration: none;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}
html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background-color: #000;
}
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #0b5ad2;
  border-left: 2px solid #000;
}
/*  -> inc/header */
header {
  background-color: #fff;
  padding: 8px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav .buy-sell {
  padding: 8px 15px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-top: 7px;
  margin-right: 20px;
  -webkit-transition: border-color 150ms;
  transition: border-color 150ms;
}
header nav .buy-sell:hover {
  border-color: #373942;
}
header nav .buy-sell span {
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
}
header nav .buy-sell span::after {
  content: " | ";
  margin-left: 5px;
  margin-right: 5px;
}
header nav .buy-sell span:last-child::after {
  margin-right: 0;
  content: "";
}
header nav .user-login-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header nav .user-login-buttons a {
  color: #fff;
  display: block;
  font-size: 13px;
  background-color: #373942;
  padding: 10px 20px;
  margin-top: 6px;
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}
header nav .user-login-buttons a:first-child {
  color: rgba(0, 0, 0, 0.8);
  background-color: #ccc;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
header nav .user-login-buttons a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
header nav .user-login-buttons a:hover {
  color: #fff;
  background-color: #0b5ad2;
}
header nav .user-login-buttons .dropdown {
  display: none;
  position: absolute;
  top: 130%;
  right: 0;
  min-width: 250px;
  background-color: #fff;
  z-index: 9999;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
header nav .user-login-buttons .dropdown .user-profile {
  text-align: center;
  margin: 20px 0 10px 0;
}
header nav .user-login-buttons .dropdown .user-profile span {
  color: #666;
  font-size: 15px;
  font-weight: 600;
}
header nav .user-login-buttons .dropdown ul {
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}
header nav .user-login-buttons .dropdown ul li {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
header nav .user-login-buttons .dropdown ul li:before,
header nav .user-login-buttons .dropdown ul li:after {
  content: "";
  display: table;
}
header nav .user-login-buttons .dropdown ul li:after {
  clear: both;
}
header nav .user-login-buttons .dropdown ul li a {
  display: block;
  padding: 15px 20px;
  color: #666;
  border-radius: 0;
  margin: 0;
  background-color: #fff;
}
header nav .user-login-buttons .dropdown ul li a:hover {
  color: #fff;
  background-color: #373942;
}
header nav .user-login-buttons .dropdown ul li span {
  float: right;
  color: #fff;
  font-size: 14px;
  margin: 8px 20px 0 0;
  padding: 5px 10px;
  background-color: #00C57F;
}
header nav .user-menu {
  position: relative;
}
/* -> inc/index */
.banner {
  position: relative;
  height: 600px;
  text-align: center;
  background-color: #373942;
}
.banner .text {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.banner .text h1 {
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 0;
}
.banner .text p {
  font-size: 15px;
  font-weight: 300;
}
.banner .text a.button {
  margin: 20px auto;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}
.price-area {
  width: 100%;
  background-color: #000;
  padding: 20px 0;
}
.price-area .item {
  color: #fff;
  text-align: center;
}
.price-area .item strong {
  font-size: 13px;
}
.price-area .item span {
  display: block;
  font-weight: 300;
  font-size: 13px;
}
.price-area .item span.up {
  color: #67c035;
}
.price-area .item span.down {
  color: #d96862;
}
/* inc/index-sub-pages */
.index-content {
  background: white;
  background: radial-gradient(circle at center, #fff 0, #f7fbfe 70%, #f7fbfe 100%);
  padding-top: 100px;
  padding-bottom: 100px;
}
.index-content .text {
  max-width: 500px;
}
.index-content .text p,
.index-content .text ul,
.index-content .text a {
  color: #333;
  font-size: 14px;
}
.index-content .text ul {
  margin-left: -20px;
}
.index-content .text ul li {
  line-height: 28px;
}
.index-content .text .title {
  font-size: 26px;
  font-weight: 400;
  margin: 0;
}
.index-content .text a:hover {
  color: #0b5ad2;
}
.index-content .text-detail {
  max-width: none;
}
.index-content .text-detail .item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}
.index-content .text-detail .item:first-child {
  margin-top: 0;
}
.index-content .text-detail .item:last-child {
  border: 0;
}
.index-content .text-detail .item p {
  line-height: 21px;
}
.index-content form.form {
  background-color: #fff;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}
.index-content form.form a.forgot-pass {
  font-size: 13px;
  color: #888;
  margin-left: 10px;
  text-decoration: underline;
}
.index-content form.form a.forgot-pass:hover {
  color: #373942;
}
.dashboard-content {
  background: white;
  background: radial-gradient(circle at center, #fff 0, #f7fbfe 70%, #f7fbfe 100%);
  padding-top: 50px;
  padding-bottom: 50px;
}
.dashboard-content .dashboard-menu {
  position: relative;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}
.dashboard-content .dashboard-menu:before,
.dashboard-content .dashboard-menu:after {
  content: "";
  display: table;
}
.dashboard-content .dashboard-menu:after {
  clear: both;
}
.dashboard-content .dashboard-menu .menu-toggle {
  display: none;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 20px;
  right: 15px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  text-align: center;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  z-index: 9700;
}
.dashboard-content .dashboard-menu .menu-toggle:hover {
  border-color: #0b5ad2;
  color: #0b5ad2;
}
.dashboard-content .dashboard-menu h1 {
  color: #555;
  font-size: 28px;
  margin-left: 20px;
  font-weight: 400;
  margin-top: 22px;
}
.dashboard-content .dashboard-menu ul {
  float: right;
  list-style: none;
  margin: 0;
}
.dashboard-content .dashboard-menu ul:before,
.dashboard-content .dashboard-menu ul:after {
  content: "";
  display: table;
}
.dashboard-content .dashboard-menu ul:after {
  clear: both;
}
.dashboard-content .dashboard-menu ul li {
  float: left;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}
.dashboard-content .dashboard-menu ul li:last-child {
  border: 0;
}
.dashboard-content .dashboard-menu ul li.active a {
  color: #fff;
  background-color: #373942;
}
.dashboard-content .dashboard-menu ul li a {
  display: block;
  color: #373942;
  padding: 15px 15px;
  -webkit-transition: all 100ms;
  transition: all 100ms;
}
.dashboard-content .dashboard-menu ul li a:hover {
  color: #fff;
  background-color: #373942;
}
.dashboard-content .dashboard-menu ul li a span {
  display: block;
  font-size: 14px;
}
.dashboard-content .dashboard-menu ul li a i.fa {
  font-size: 22px;
  margin-bottom: 5px;
}
.dashboard-content form.form {
  float: right;
  max-width: 530px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  margin-top: 25px;
}
.dashboard-content .dashboard-area:before,
.dashboard-content .dashboard-area:after {
  content: "";
  display: table;
}
.dashboard-content .dashboard-area:after {
  clear: both;
}
.dashboard-content .dashboard-area .box {
  width: 100%;
  min-height: 245px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  margin-top: 25px;
}
.dashboard-content .dashboard-area .box:before,
.dashboard-content .dashboard-area .box:after {
  content: "";
  display: table;
}
.dashboard-content .dashboard-area .box:after {
  clear: both;
}
.dashboard-content .dashboard-area .box form.form {
  float: left;
  max-width: none;
  border: 0;
  margin: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.dashboard-content .dashboard-area .box form.form label span {
  font-weight: 300;
}
.dashboard-content .dashboard-area .security-page a img {
  width: 140px;
}
.dashboard-content .dashboard-area .security-page a img:hover {
  opacity: 0.9;
}
.dashboard-content .dashboard-area .security-page .verify {
  margin-bottom: 15px;
}
.dashboard-content .dashboard-area .security-page .verify:before,
.dashboard-content .dashboard-area .security-page .verify:after {
  content: "";
  display: table;
}
.dashboard-content .dashboard-area .security-page .verify:after {
  clear: both;
}
.dashboard-content .dashboard-area .security-page .verify .btn {
  float: right;
}
.dashboard-content .dashboard-area .security-page .verify .btn a {
  display: inline-block;
  color: #fff;
  font-size: 13px;
  padding: 8px 12px;
}
.dashboard-content .dashboard-area .security-page .verify .btn a:first-child {
  background-color: #0b5ad2;
}
.dashboard-content .dashboard-area .security-page .verify .btn a:first-child:hover {
  background-color: #0845a2;
}
.dashboard-content .dashboard-area .security-page .verify .btn a:last-child {
  background-color: red;
}
.dashboard-content .dashboard-area .security-page .verify .btn a:last-child:hover {
  background-color: #cc0000;
}
.dashboard-content .dashboard-area form.form {
  float: left;
  max-width: none;
}
.dashboard-content .dashboard-area table.table {
  text-align: left;
  font-size: 14px;
}
.dashboard-content .dashboard-area table.table thead tr th:nth-child(1) {
  width: 10%;
}
/*  -> inc/footer */
footer {
  width: 100%;
  background-color: #fff;
  padding-top: 20px;
}
footer > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
footer .item {
  max-width: 25%;
}
footer .item h4 {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
}
footer .item ul {
  padding: 0;
  list-style: none;
}
footer .item ul li {
  margin-bottom: 5px;
}
footer .item ul li a {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.7);
}
footer .item ul li a:hover {
  color: #0b5ad2;
}
footer .item ul.address {
  color: #333;
  font-size: 13px;
}
footer .item ul.address li {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .item ul.address li i.fa {
  margin-right: 10px;
}
footer .item .social a {
  color: #fff;
  width: 26px;
  height: 26px;
  display: inline-block;
  border-radius: 100%;
  text-align: center;
  line-height: 24px;
  margin-right: 10px;
  font-size: 13px;
  border: 2px solid transparent;
  -webkit-transition: background 150ms, border-color 100ms;
  transition: background 150ms, border-color 100ms;
}
footer .item .social a:hover:nth-child(2) {
  background-color: #fff;
  border-color: #1da1f2;
  color: #1da1f2;
}
footer .item .social a:hover:nth-child(3) {
  background-color: #fff;
  border-color: #3b5998;
  color: #3b5998;
}
footer .item .social a:hover:nth-child(4) {
  background-color: #fff;
  border-color: #f56040;
  color: #f56040;
}
footer .item .social a:nth-child(2) {
  background-color: #1da1f2;
}
footer .item .social a:nth-child(3) {
  background-color: #3b5998;
}
footer .item .social a:nth-child(4) {
  background-color: #f56040;
}
footer .bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 13px;
  padding: 12px 0;
  margin-top: 10px;
}
footer .bottom:before,
footer .bottom:after {
  content: "";
  display: table;
}
footer .bottom:after {
  clear: both;
}
footer .bottom span {
  color: #888;
  margin-top: 3px;
  display: block;
}
footer .bottom .lang {
  float: right;
  color: #666;
}
footer .bottom .lang form select {
  color: #666;
}
footer .bottom .lang form select:focus {
  color: #000;
}
/*  -> inc/responsive */
@media (max-width: 768px) {
  header {
    text-align: center;
    z-index: 9999;
  }
  header nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav .buy-sell {
    padding: 8px 7px;
    margin-right: 0;
  }
  header nav .user-menu {
    width: 100%;
    display: block;
  }
  header nav .user-menu .dropdown {
    left: 0;
    right: 0;
    margin: auto;
  }
  .banner {
    height: 400px;
  }
  .banner .text {
    padding: 20px;
  }
  .banner .text h1 {
    font-size: 21px;
  }
  footer {
    text-align: center;
  }
  footer > .container {
    display: block;
  }
  footer .item {
    max-width: 100%;
  }
  footer .item ul {
    padding: 0;
  }
  footer .item ul.address {
    padding: 0 20px;
  }
  footer .bottom .lang {
    margin: auto;
    float: none;
    margin-top: 5px;
  }
  .index-content {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .index-content .text p,
  .index-content .text ul,
  .index-content .text a {
    color: #333;
    font-size: 13px;
  }
  .index-content .text h1.title {
    font-size: 20px;
  }
  .index-content .text ul {
    margin-left: -20px;
  }
  .index-content .text ul li {
    line-height: 22px;
  }
  form.form .form-group input[type="submit"] {
    display: block;
    margin: 5px auto!important;
  }
  .dashboard-content .dashboard-menu h1 {
    font-size: 20px;
  }
  .dashboard-content .dashboard-menu a.menu-toggle {
    display: block;
  }
  .dashboard-content .dashboard-menu ul {
    display: none;
    margin: 0;
    padding: 0;
    float: none;
  }
  .dashboard-content .dashboard-menu ul li {
    float: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
  .dashboard-content .dashboard-menu ul li:last-child {
    border: 0;
  }
}
@media (max-width: 480px) {
  .price-area .col-xs-3 {
    width: 33.333333%;
  }
}
