/*  -> inc/global */

//@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,400i,500,700,800&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Nunito:300i,400,600,700,800,900&subset=latin-ext');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}
html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background-color: #000;
}
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: @color1;
  border-left: 2px solid #000;
}
html, body{
    font-family: "Nunito", sans-serif;
    line-height: normal;
    height: 100%;
}
body{
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    background-color: #fff;
}
a{
    text-decoration: none!important;
}
p{
    margin:0;
}
ul{margin:0; padding:0; li{list-style: none;}}
h1,h2,h3,h4,h5,h6{margin:0;}
figure{margin:0;}

.bg-fade{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top:0; right:0; left:0; 
    margin:auto;
    width:100%;
    height: 100%;
    z-index: 9999;
    background-color: fade(black,60%);
    transition: all 500ms;

    &-on{
        opacity: 1;
        visibility: visible;
    }
}