/*  -> inc/header */
header{
    position: fixed;
    top:0; left:0; right:0;
    min-height: 60px;
    border-bottom:1px solid fade(black,5%);
    box-shadow: 0 0 10px fade(#000, 5%);
    display: flex;
    align-items: center;
    background-color: #fff;
    z-index:9900;
    .clear;
    a.logo{
       img{
        width:31px;
       }
    }
    nav{
        position: relative;
        float:right;
        margin-top: 5px;
        ul{
            display: flex; 
            li{
                margin-left:40px;
                a{
                    position: relative;
                    color:@color3;
                    font-size:13px;
                    font-weight: 600;
                    transition: all 500ms;                    
                    &::after{
                        content:"";
                        position: absolute;
                        bottom:-20px; left:0; right:0;
                        margin: auto;
                        width:0;
                        height: 1px;
                        background-color: @color1;
                        transition: all 500ms;
                    }
                    &:hover{
                        color:@color1;
                        &::after{
                            width:100%;
                        }
                    }
                }
            }
            &.menu-open{display:block;}
        }
        
        .menu-toggle{
            position: absolute;
            top:2px;right: 0;
            display: flex;
            transition:all 300ms; 
            div{
                margin-left:10px;
                margin-top:2px;
                span{
                    height: 2px;
                    background-color:@color3;
                    display: block;
                    margin-bottom:5px;
                    transition:all 400ms;
                    &:nth-child(1){
                        width: 12px;
                    }
                    &:nth-child(2){
                        width: 18px;
                    }
                    &:nth-child(3){
                        width: 22px;
                    }
                }
            }
            &:hover{
                color:@color1;
                cursor: pointer;
                div{
                    span {
                        width:22px;
                        background-color:@color1;
                    }
                }
            }
            &-closed{
                div{
                    span{
                        &:nth-child(1){
                            width: 22px;
                            transform:rotate(45deg);
                            transform-origin: 15% 0;
                        }
                        &:nth-child(2){
                            opacity: 0;
                        }
                        &:nth-child(3){
                            width: 22px;
                            transform: rotate(-45deg);
                            transform-origin: -2% 0;
                        }
                    }
                }
            }
        }
    }
}
.search-wrapper{
    position: relative;
    .search-content{
        position: fixed;
        top:-100%; left:0;
        width: 100%; height: 100%;
        background: linear-gradient(to top, fade(@color3,70%) 50%, fade(#fff,60%) 100%);
        z-index: 9999;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: 500ms;
        form{
            max-width: 500px;
            width: 100%;
            margin:auto;
            input[type="text"]{
                border:0;
                height: 60px;
                box-shadow: 0 0 20px fade(black,10%);
                text-align: center;
                font-weight: bold;
                border-radius: 80px;
                &:focus{
                    box-shadow: 0 0 40px fade(black,30%); 
                }
            }
            button{
                display: block;
                margin: 30px auto 0 auto;
                i.fa{font-size:12px;}
            }
        }
        &-closed{
            position: absolute;
            top:30px;
            right: 30px;
            color:@color3;
            font-size:30px;
            text-shadow:0 0 20px fade(black,10%);
            transition: all 1500ms;
            &:hover{
                transform:rotate(360deg);
            }
        }
        &-open{
            top:0;
        }
    }
}