@charset "utf-8";

/*  -> config/veriables */
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
@import url('https://fonts.googleapis.com/css?family=Nunito:300i,400,600,700,800,900&subset=latin-ext');
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace,monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
/*  -> helper/helper */
.mt-0 {
  margin-top: 0px !important;
}
.mb-0 {
  margin-bottom: 0px !important;
}
.mr-0 {
  margin-right: 0px !important;
}
.ml-0 {
  margin-left: 0px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mr-10 {
  margin-right: 10px !important;
}
.ml-10 {
  margin-left: 10px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mr-20 {
  margin-right: 20px !important;
}
.ml-20 {
  margin-left: 20px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mr-30 {
  margin-right: 30px !important;
}
.ml-30 {
  margin-left: 30px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mr-40 {
  margin-right: 40px !important;
}
.ml-40 {
  margin-left: 40px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.mr-50 {
  margin-right: 50px !important;
}
.ml-50 {
  margin-left: 50px !important;
}
.mt-60 {
  margin-top: 60px !important;
}
.mb-60 {
  margin-bottom: 60px !important;
}
.mr-60 {
  margin-right: 60px !important;
}
.ml-60 {
  margin-left: 60px !important;
}
.mt-70 {
  margin-top: 70px !important;
}
.mb-70 {
  margin-bottom: 70px !important;
}
.mr-70 {
  margin-right: 70px !important;
}
.ml-70 {
  margin-left: 70px !important;
}
.mt-80 {
  margin-top: 80px !important;
}
.mb-80 {
  margin-bottom: 80px !important;
}
.mr-80 {
  margin-right: 80px !important;
}
.ml-80 {
  margin-left: 80px !important;
}
.mt-90 {
  margin-top: 90px !important;
}
.mb-90 {
  margin-bottom: 90px !important;
}
.mr-90 {
  margin-right: 90px !important;
}
.ml-90 {
  margin-left: 90px !important;
}
.mt-100 {
  margin-top: 100px !important;
}
.mb-100 {
  margin-bottom: 100px !important;
}
.mr-100 {
  margin-right: 100px !important;
}
.ml-100 {
  margin-left: 100px !important;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.d-none {
  display: none;
}
.minh-auto {
  min-height: auto !important;
}
.maxw-none {
  max-width: none !important;
}
.fL {
  float: left !important;
}
.fR {
  float: right!important;
}
.fN {
  float: none!important;
}
.nP {
  padding: 0!important;
}
.nPR {
  padding-right: 0 !important;
}
.nPL {
  padding-left: 0 !important;
}
.text-L {
  text-align: left;
}
.text-R {
  text-align: right;
}
.text-C {
  text-align: center;
}
.text-J {
  text-align: justify;
}
.img-responsive {
  width: 100%;
  height: auto;
}
/*  -> inc/global */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}
html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background-color: #000;
}
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #9A12B3;
  border-left: 2px solid #000;
}
html,
body {
  font-family: "Nunito", sans-serif;
  line-height: normal;
  height: 100%;
}
body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}
a {
  text-decoration: none!important;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
figure {
  margin: 0;
}
.bg-fade {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.bg-fade-on {
  opacity: 1;
  visibility: visible;
}
/*  -> helper/components */
p.text {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
form .form-control {
  font-size: 14px;
}
form .form-control:focus {
  border-color: #9A12B3;
}
.btn {
  padding: 7px 15px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 50px;
}
.btn-color {
  color: #fff;
  background-color: #9A12B3;
}
.btn-color:hover {
  background-color: #720d85;
}
.btn-white {
  color: #fff;
  border: 2px solid #fff;
  background-color: transparent;
}
.btn-white:hover {
  color: #444;
  background-color: #fff;
}
.page-item.active .page-link {
  background-color: #9A12B3;
  border-color: #9A12B3;
}
.page-link a {
  color: #9A12B3;
}
/*  -> inc/header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  z-index: 9900;
}
header:before,
header:after {
  content: "";
  display: table;
}
header:after {
  clear: both;
}
header a.logo img {
  width: 31px;
}
header nav {
  position: relative;
  float: right;
  margin-top: 5px;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header nav ul li {
  margin-left: 40px;
}
header nav ul li a {
  position: relative;
  color: #666;
  font-size: 13px;
  font-weight: 600;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
header nav ul li a::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 1px;
  background-color: #9A12B3;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
header nav ul li a:hover {
  color: #9A12B3;
}
header nav ul li a:hover::after {
  width: 100%;
}
header nav ul.menu-open {
  display: block;
}
header nav .menu-toggle {
  position: absolute;
  top: 2px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
header nav .menu-toggle div {
  margin-left: 10px;
  margin-top: 2px;
}
header nav .menu-toggle div span {
  height: 2px;
  background-color: #666;
  display: block;
  margin-bottom: 5px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
header nav .menu-toggle div span:nth-child(1) {
  width: 12px;
}
header nav .menu-toggle div span:nth-child(2) {
  width: 18px;
}
header nav .menu-toggle div span:nth-child(3) {
  width: 22px;
}
header nav .menu-toggle:hover {
  color: #9A12B3;
  cursor: pointer;
}
header nav .menu-toggle:hover div span {
  width: 22px;
  background-color: #9A12B3;
}
header nav .menu-toggle-closed div span:nth-child(1) {
  width: 22px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 15% 0;
          transform-origin: 15% 0;
}
header nav .menu-toggle-closed div span:nth-child(2) {
  opacity: 0;
}
header nav .menu-toggle-closed div span:nth-child(3) {
  width: 22px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: -2% 0;
          transform-origin: -2% 0;
}
.search-wrapper {
  position: relative;
}
.search-wrapper .search-content {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, rgba(102, 102, 102, 0.7)), to(rgba(255, 255, 255, 0.6)));
  background: linear-gradient(to top, rgba(102, 102, 102, 0.7) 50%, rgba(255, 255, 255, 0.6) 100%);
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 500ms;
  transition: 500ms;
}
.search-wrapper .search-content form {
  max-width: 500px;
  width: 100%;
  margin: auto;
}
.search-wrapper .search-content form input[type="text"] {
  border: 0;
  height: 60px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-weight: bold;
  border-radius: 80px;
}
.search-wrapper .search-content form input[type="text"]:focus {
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}
.search-wrapper .search-content form button {
  display: block;
  margin: 30px auto 0 auto;
}
.search-wrapper .search-content form button i.fa {
  font-size: 12px;
}
.search-wrapper .search-content-closed {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #666;
  font-size: 30px;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 1500ms;
  transition: all 1500ms;
}
.search-wrapper .search-content-closed:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.search-wrapper .search-content-open {
  top: 0;
}
.featured-post {
  margin-top: 60px;
  background-color: #fff;
  -webkit-box-shadow: inset 0 -20px 30px rgba(0, 0, 0, 0.05), inset 0 20px 30px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 -20px 30px rgba(0, 0, 0, 0.05), inset 0 20px 30px rgba(0, 0, 0, 0.05);
  padding: 50px 0;
}
.featured-post .post-item {
  position: relative;
  max-height: 360px;
  overflow: hidden;
}
.featured-post .post-item:hover::after {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #720d85), to(#000000));
  background: linear-gradient(to top, #720d85 30%, #000000 100%);
  background: -webkit-linear-gradient(to top, #720d85 30%, #000000 100%);
  opacity: .6;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.featured-post .post-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.featured-post .post-item .content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0 30px;
  text-align: center;
  z-index: 9000;
}
.featured-post .post-item .content h2 a {
  color: #fff;
  font-size: 24px;
  font-weight: 800;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  letter-spacing: -1px;
}
.featured-post .post-item .content .info {
  margin-top: 10px;
}
.featured-post .post-item .content .info span {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
}
.featured-post .post-item .content .info span::after {
  content: "-";
  margin-left: 10px;
  margin-right: 10px;
}
.featured-post .post-item .content .info span:last-child::after {
  content: "";
  margin-right: 0;
}
.featured-post .post-item .content a.post-view {
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  margin-top: 15px;
  letter-spacing: 3px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.featured-post .post-item .content a.post-view::after {
  opacity: 0;
  position: absolute;
  top: 1px;
  left: -20px;
  content: "\f178";
  font-family: "FontAwesome";
  font-size: 11px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.featured-post .post-item .content a.post-view:hover {
  letter-spacing: 5px;
}
.featured-post .post-item .content a.post-view:hover::after {
  opacity: 1;
  left: calc(100% + 5px);
}
a.category {
  color: #fff;
  display: inline-block;
  padding: 6px 15px;
  background-color: #9A12B3;
  font-size: 10px;
  font-weight: 700;
  border-radius: 100px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px 0;
}
main h2.none-text {
  opacity: 0;
  font-size: 0;
}
section.post article {
  border: 1px solid #eee;
  padding: 25px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  margin-bottom: 30px;
  border-radius: 10px;
  border-color: transparent;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.08);
}
section.post article:last-child {
  margin-bottom: 0;
}
section.post article:hover {
  border-color: transparent;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.08);
}
section.post article .info span {
  color: #666;
  font-size: 13px;
  margin-left: 10px;
}
section.post article h4 {
  margin: 10px 0;
}
section.post article h4 a {
  color: #666;
  font-size: 21px;
  font-weight: 700;
}
section.post article h4 a:hover {
  color: #444;
}
section.post article p {
  color: #666;
  font-size: 13px;
}
section.post article a.post-view {
  display: block;
  color: #9A12B3;
  font-size: 13px;
  border-top: 1px solid #eee;
  padding-top: 10px;
  margin-top: 15px;
}
section.post article a.post-view:hover {
  color: #444;
}
section.post article figure img {
  border-radius: 10px;
}
.right-menu {
  width: 100%;
  max-width: 400px;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 9999;
  padding: 0 30px;
  overflow: auto;
  height: 100%;
  background-color: #f1f1f1;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.right-menu::-webkit-scrollbar,
.right-menu::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}
.right-menu::-webkit-scrollbar-track,
.right-menu::-webkit-scrollbar-track {
  background-color: #000;
}
.right-menu::-webkit-scrollbar-thumb,
.right-menu::-webkit-scrollbar-thumb {
  background-color: #9A12B3;
  border-left: 2px solid #000;
}
.right-menu-open {
  right: 0;
}
.right-menu-close {
  float: right;
  font-size: 21px;
  margin-top: 17px;
}
.right-menu .closed-wrapper {
  width: 100%;
  position: relative;
  height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.right-menu .closed-wrapper:before,
.right-menu .closed-wrapper:after {
  content: "";
  display: table;
}
.right-menu .closed-wrapper:after {
  clear: both;
}
.right-menu .closed-wrapper .logo {
  float: left;
  display: block;
  margin-top: 15px;
}
aside {
  /*overflow-y: auto;*/
}
aside .sidebar {
  margin-bottom: 50px;
}
aside .sidebar:last-child {
  margin-bottom: 0;
}
aside .sidebar h3.title {
  color: #444;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 25px;
}
aside .sidebar .popular-post .item {
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
aside .sidebar .popular-post .item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border: 0;
}
aside .sidebar .popular-post .item:before,
aside .sidebar .popular-post .item:after {
  content: "";
  display: table;
}
aside .sidebar .popular-post .item:after {
  clear: both;
}
aside .sidebar .popular-post .item .image {
  float: left;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 15px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
aside .sidebar .popular-post .item .image img {
  width: 100%;
  height: 100%;
}
aside .sidebar .popular-post .item a.title {
  color: #666;
  font-size: 14px;
  font-weight: 600;
}
aside .sidebar .popular-post .item a.title:hover {
  color: #444;
}
aside .sidebar .popular-post .item span {
  display: block;
  color: #666;
  font-size: 13px;
  margin-top: 2px;
}
aside .sidebar .popular-post .item:hover .image {
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
}
aside .sidebar .category-menu ul li a {
  position: relative;
  display: block;
  padding: 15px 0;
  color: #444;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  border-top: 1px solid rgba(102, 102, 102, 0.07);
}
aside .sidebar .category-menu ul li a:hover {
  color: #9A12B3;
}
aside .sidebar .category-menu ul li a:hover::after {
  color: #9A12B3;
}
aside .sidebar .category-menu ul li a::after {
  content: attr(data-content);
  position: absolute;
  right: 15px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  font-weight: 400;
}
aside .sidebar form.search {
  margin-top: 40px;
}
aside .sidebar form.search .form-group {
  position: relative;
}
aside .sidebar form.search .form-group button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: 0;
}
/* -> inc/subpages */
main.detail-page section.post article {
  border-color: transparent;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.08);
}
main.detail-page section.post article figure {
  margin-top: 15px;
  margin-bottom: 15px;
}
main.detail-page section.post article figure img {
  height: auto;
}
main.detail-page section.post article p {
  font-size: 14px;
  line-height: 25px;
}
main.detail-page section.post .tags {
  border-top: 1px solid #eee;
  margin-top: 25px;
  padding-top: 25px;
  color: #444;
  font-size: 13px;
  font-weight: 300;
}
main.detail-page section.post .tags span {
  font-weight: 500;
}
main.detail-page section.post .tags a {
  color: #444;
}
main.detail-page section.post .tags a:hover {
  color: #9A12B3;
}
main.detail-page section.post .tags a::after {
  content: ",";
}
main.detail-page section.post .tags a:last-child::after {
  content: "";
}
main.detail-page h1.title {
  color: #444;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 20px;
}
footer {
  border-top: 1px solid #eee;
  padding: 15px 0;
  font-size: 13px;
}
footer span {
  color: #666;
}
footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
footer .social a {
  color: #aaaaaa;
  margin-left: 10px;
  margin-right: 10px;
}
footer .social a:hover {
  color: #9A12B3;
}
/*  -> inc/responsive */
@media (max-width: 1200px) {
  .hide-lg {
    display: none!important;
  }
}
@media (max-width: 991px) {
  .hide-md {
    display: none!important;
  }
}
@media (max-width: 768px) {
  .hide-sm {
    display: none!important;
  }
}
@media (max-width: 480px) {
  .hide-xsm {
    display: none!important;
  }
}
@media (max-width: 320px) {
  .hide-xxsm {
    display: none!important;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 100%;
    max-width: 940px;
  }
}
@media (min-width: 991px) {
  header nav ul {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
  }
}
@media (max-width: 768px) {
  header {
    display: block;
  }
  header a.logo {
    display: block;
    margin-top: 15px;
  }
  header nav {
    float: none;
  }
  header nav:before,
  header nav:after {
    content: "";
    display: table;
  }
  header nav:after {
    clear: both;
  }
  header nav .menu-toggle {
    top: -30px;
    visibility: visible;
    opacity: 1;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 9500;
    background-color: #fff;
    width: 100%;
  }
  header nav ul li {
    margin: 0;
  }
  header nav ul li a {
    display: block;
    padding: 5px 0;
  }
  header nav ul li a::after {
    display: none;
  }
  section.post article {
    margin-bottom: 15px;
  }
  section.post article h4 a {
    font-size: 18px;
  }
  section.post article figure {
    margin-top: 10px;
  }
  main {
    margin: 75px 0 50px 0;
  }
  main aside {
    margin-top: 50px;
  }
}
@media (max-width: 480px) {
  .search-wrapper .search-content form input[type="text"] {
    width: 300px;
  }
  .featured-post .post-item .content h2 {
    line-height: 18px;
  }
  .featured-post .post-item .content h2 a {
    font-size: 16px;
  }
  footer {
    text-align: center;
  }
  footer .social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
