/*  -> helper/components */

.button{
    position: relative;
    display: table;
    color:#fff;
    padding:10px 20px;
    z-index:9000;
    transition:color 300ms;
    &::after{
        content:"";
        position: absolute;
        width: 0;
        height: 100%;
        top:0; left:0; right:0;
        margin:auto;
        z-index:-1;
        transition:all 150ms;
    }
    &:hover{
        &::after{
            width:100%;
        }
    }
}
.btn-1{
    background-color:@color2;
    &::after{
        background-color:#fff;
    }
    &:hover{color:@color}
}