/*  -> inc/footer */

footer{
    width:100%;
    background-color:#fff;
    padding-top:20px;
    > .container{
        display: flex;
        justify-content: space-between;
        align-self: flex-start;
    }
    .item{
        max-width: percentage(1/4);
        h4{
            color:#333;
            font-size: 18px;
            margin-bottom:10px;
        }
        ul{
            padding: 0;
            list-style: none;
            li{
                margin-bottom:5px;
                a{
                    font-size: 13px;
                    color:fade(black,70%);
                    &:hover{color:@color2;}
                }
            }
            &.address{
                color:#333;
                font-size: 13px;
                li{
                    margin-top: 15px;
                    display: flex;
                    i.fa{margin-right: 10px;}
                }
            }
        }
        .social{
            a{
                color:#fff;
                width: 26px;
                height: 26px;
                display: inline-block;
                border-radius: 100%;
                text-align: center;
                line-height: 24px;
                margin-right: 10px;
                font-size:13px;
                border:2px solid transparent;
                transition:background 150ms, border-color 100ms;
                &:hover{
                    &:nth-child(2){background-color:#fff; border-color:@twitter; color:@twitter;}
                    &:nth-child(3){background-color:#fff; border-color:@facebook; color:@facebook;}
                    &:nth-child(4){background-color:#fff; border-color:@instagram; color:@instagram;}
                }
                &:nth-child(2){background-color:@twitter}
                &:nth-child(3){background-color:@facebook}
                &:nth-child(4){background-color:@instagram}
            }
        }
    }
    .bottom{
        border-top: 1px solid fade(#000,10%);
        font-size:13px;
        padding:12px 0;
        margin-top:10px;
        .clear();
        span{color:#888; margin-top:3px; display: block;}
        .lang{
            float:right;
            color:#666;
            form{
                select{
                     color:#666;
                    &:focus {
                    color:#000;
            
                    }
                }
            }
        }
    }
}