// -> inc/global
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin-ext');
@import url('../helper/helper.less');

html,body{overflow-x:hidden;}
body{
    font-family: 'Roboto', sans-serif;
    background-color:@color;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}
html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background-color: #000;
}
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: @color2;
  border-left: 2px solid #000;
}
