/*  -> inc/header */
header{
    background-color: #fff;
    padding:8px 0;
    box-shadow:0 5px 15px fade(black,10%);
    .clear();
    nav{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .buy-sell{
            padding:8px 15px;
            border:1px solid fade(#000,15%);
            border-radius: 5px;
            margin-top:7px;
            margin-right: 20px;
            transition:border-color 150ms;
            &:hover{border-color:@color}
            span{
                color:fade(#000,80%);
                font-size:12px;
                &::after{
                    content:" | ";
                    margin-left:5px;
                    margin-right:5px;
                }
                &:last-child{&::after{ margin-right:0; content:""}}
            }
        }
        .user-login-buttons{
            display: flex;
            a{
                color:#fff;
                display: block;;
                font-size:13px;
                background-color:@color;
                padding:10px 20px;
                margin-top:6px;
                transition:all 150ms ease-in;
                &:first-child{
                    color:fade(#000,80%);
                    background-color: #ccc;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }
                &:last-child{
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
                &:hover{
                    color:#fff;
                    background-color: @color2;
                }
            }
        }
    }
}