/* -> inc/index */
.banner{
    position: relative;
    height: 600px;
    text-align: center;
    .text{
        color:#fff;
        position:absolute;
        top:50%;
        left:0; right:0; margin:auto;
        transform:translateY(-50%);
        h1{
            font-size:34px;
            font-weight: 400;
            margin-bottom: 0;
        }
        p{
            font-size: 15px;
            font-weight: 300;
        }
        a.button{
            margin:20px auto;
            box-shadow:0 0 30px fade(black,10%);
        }
    }
}