/*  -> inc/responsive */
@media (max-width:768px){
    header{
        text-align:center;
        nav{
            flex-direction: column;
            .buy-sell{
                padding:8px 7px;
                margin-right: 0;
            }
        }
    }
    .banner{
        height:400px;
        .text{
            padding:20px;
            h1{
                font-size:21px;
            }
        }
    }
    footer{
        text-align: center;
        > .container{
            display: block;
        }
        .item{
            max-width: 100%;
            ul{padding: 0}
            ul.address{padding:0 20px;}
        }
        .bottom{
            .lang{
                margin:auto;
                float: none;
                margin-top:5px;
            }
        }
    }
}
