/*  -> helper/components */

p{
    &.text{
        font-size:16px;
        font-weight: 300;
        line-height: 24px;
    }
}

form{
    .form-control{
        font-size:14px;
        &:focus{
            border-color:@color1;
        }
    }
}

.btn{
    padding:7px 15px;
    font-size:13px;
    font-weight: 600;
    border-radius: 50px;
    &-color{
        color:#fff;
        background-color:@color1;
        &:hover{
            background-color:darken(@color1,10%);
        }
    }

    &-white{
        color:#fff;
        border:2px solid #fff;
        background-color: transparent;
        &:hover{
            color:@color2;
            background-color:#fff;
        }
    }

}